
body {
    font-family: 'Roboto Flex', Helvetica, Arial, sans-serif; 
    font-weight: 300;
    font-size: 16px;
    font-stretch: 100%;
    line-height: 22px; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: min(960px, 90%);
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

table {
    font-family: inherit;
    font-weight: inherit;
    font-size: 16px;
    line-height: 20px;
    /* border-collapse: separate;  */
    border-spacing: 0 0;
}

table td, table td * {
    vertical-align: top;
}

li {
    margin-bottom: 10px;
}

h2 {
    margin-top: 25px;
    font-size: larger;
    font-weight: 700;
    font-stretch: 100%;
    font-variation-settings: 'GRAD' -150;
}

.normal_link {
    color: slateblue;
}

.paper_title {
    font-weight: 700;
    font-stretch: 100%;
    font-variation-settings: 'GRAD' -150;
    line-height: 0px;
}

.paper_author {
    font-weight: inherit;
}

.paper_full_venue {
    font-weight: inherit;
}

.paper_venue {
    font-weight: 700;
    font-stretch: 100%;
    font-variation-settings: 'GRAD' -150;
}

.paper_link {
    font-weight: inherit; 
    padding-right: 20px;
}

.conf {
    color: deepskyblue;
}

.jour {
    color: #F8C471;
}

.arxiv {
    color: #2ECC71;
}

.draft {
    color: silver;
}

.workshop {
    color: lightcoral;
}


